/*=============================================================
    Authour URL: www.designbootstrap.com
    
    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE
   
========================================================  */

/*==============================
GENERAL STYLES
==============================*/

@import url('https://fonts.googleapis.com/css?family=Sarala&display=swap');

body {
    font-family: 'Sarala', sans-serif;
    line-height: 25px;
}

.profile-pic {
    margin-top: 250px;
    margin-bottom: 35px;
    border-radius: 50%;
    width: 320px;
    height: 320px;

}

.pad-bottom {
    padding-bottom: 60px;
}

section {}

.btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.set-bk-clr {
    background-color: #F6CFC8;
}

.clr-set {
    color: #F6CFC8;
}

.f-big {
    font-size: 40px;
    font-weight: 900;
}

.set-bk-clr:hover {
    background-color: rgba(107, 1, 41, 0.67);
}

/*==============================
NAVBAR STYLES
==============================*/
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
    color: #515050;
    font-size: 20px;
    text-transform: uppercase;
}

.navbar-brand {
    padding: 0px;

}

.navbar-brand img {
    height: 50px;
}

.navbar-default .navbar-toggle {
    border-color: #515050;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #515050;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: rgba(0, 0, 0, 0);
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
    font-weight: 900;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #515050;
    text-decoration: none;
}

.navbar-default {
    background-color: #F6CFC8;
    border-color: transparent;
}

/* ADDED PADDING IN NAVBAR */
.navbar {
    padding: 15px;
    -webkit-transition: background .8s ease-out, padding .8s ease-out;
    -moz-transition: background .8s ease-out, padding .8s ease-out;
    transition: background .8s ease-out, padding .8s ease-out;
}

/* CLASS FOR REMOVING PADDING IN NAVBAR*/
.navbar-pad-original {
    padding: 0px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #515050;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}


/* =============================================================
  HEADER SECTION STYLES
 ============================================================ */

#header {
    background: url(../img/background-photo.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

#header .overlay {
    background-color: rgba(0, 0, 0, 0);
    min-height: 700px;
}

#header h1 {
    line-height: 60px;
    font-size: 45px;
    font-weight: 900;
    padding-top: 160px;
    padding-bottom: 35px;
    color: #F6CFC8;
}


#header h4 {
    line-height: 30px;
    font-size: 16px;
    padding-bottom: 30px;
    text-transform: uppercase;
    text-align: justify;
}



/*================================
    SERVICES STYLES
==================================*/
#services {
    background-color: #F6CFC8;
}

.skills {
    background: url('../img/background-skills.png') no-repeat center center;
    padding-top: 170px;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;

    color: #515050;
    min-height: 700px;
    font-size: 18px;
}





#services i {
    font-size: 80px;
    padding: 30px;
    color: #F6CFC8;
}

#services h4 {
    padding-bottom: 20px;
    padding-top: 15px;
}



/* =============================================================
  TESTIMONIAL SECTION STYLES
 ============================================================ */
#testimonial {
    background: #FFF no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
}

#testimonial .overlay {
    background-color: rgba(0, 0, 0, 0);
    padding-top: 0px;
    min-height: 300px;
    color: #515050;
    padding-top: 0px;
    padding-bottom: 0px;
}

.gray {
    background-color: #BEBEBE;

}

.pink {
    background-color: #F6CFC8;

}

.outer-rect {
    width: 80%;
    padding: 60px 0px;
    float: right;
    position: relative;
    right: -15px;
}

.inner-rect {
    width: 100%;
    padding: 60px;
    position: relative;
    left: -150px;
}

.outer-rect-2 {
    width: 80%;
    padding: 60px 0px;
    float: left;
    position: relative;
    right: -15px;
}

.inner-rect-2 {
    width: 100%;
    padding: 80px;
    position: relative;
    left: 150px;
}

.first-app3 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;

}

.first-app {
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
}

.first-app1 {
    padding: 50px;
    text-align: center;
}

.second {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #F6CFC8;
    text-align: center;
    padding-top: 80px;
    padding-left: 150px;
    padding-bottom: 80px;
}

.second-6 {
    margin-top: 100px;
    background-color: #F6CFC8;
    text-align: center;
    padding-top: 120px;
    padding-left: 150px;
    padding-bottom: 120px;
}

.mymoney-text {
    text-align: justify;
    padding-left: 50px;
    padding-right: 170px;
}

.mymoney-text1 {
    margin-left: -130px;
    padding-top: 20px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin-left: auto;
    margin-right: auto;
}

.carousel-control.left,
.carousel-control.right {
    background: none;
    background-color: transparent;
    background-image: none;
    color: black;
}


/* =============================================================
  TEAM SECTION STYLES
 ============================================================ */
#team {
    background-color: #F6CFC8;

}

.media img {
    margin-right: 40px;
    max-height: 150px;
    margin-bottom: 20px;
    border: 2px solid #FF2276;

}

.media img:hover {
    opacity: 0.6;
}

/* =============================================================
  CONTACT SECTION STYLES
 ============================================================ */
#contact {
    background: url(../img/contact.jpg) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
}

#contact .overlay {
    background-color: rgba(0, 0, 0, 0);
    min-height: 300px;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}

#contact a {
    color: white;
}

/* =============================================================
  FOOTER SECTION STYLES
 ============================================================ */
footer {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: 900;
    background-color: #F6CFC8;
}

footer a,
footer a:hover {
    color: #000;
    text-decoration: none;
}
